<div fxLayout="row" fxLayoutAlign="none" fxLayout.xs="column" fxLayoutGap="10px">

  <div fxFlex="77%" fxFill>
    
    <mat-accordion>
      <mat-expansion-panel *ngFor="let dataSource of dataSource" [expanded]="">
        <mat-expansion-panel-header>
          <mat-panel-title class="title-row column color-secondary-text" fxFlex="33%" appTruncate>
            <p>{{dataSource.subject}}</p>
          </mat-panel-title>
          <mat-panel-description>
            <p>{{dataSource.description}}</p>
            <button mat-icon-button (click)="deleteAppointmentsByAppointmentId(dataSource.appointmentId)" color="warn">
            <div>
            <mat-icon class="v-align-right">delete</mat-icon>
            <span class = "v-align-right"></span>
            </div>
          </button>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>Appointment ID: {{dataSource.appointmentId}}</p>
        <p>Date: {{dataSource.startTime | date: 'dd/MM/yyyy'}}</p>
        <p>Time: {{dataSource.startTime | date:"shortTime"}}</p>
        <p>Patient Name: {{dataSource.patientName}}</p>
        <p>Physician Name: {{physicianname}}</p>
        <button mat-button *ngIf="compareDate(dataSource.startTime)" (click)="goToVisit(dataSource.appointmentId)">
          <mat-icon>remove_red_eye</mat-icon>
        </button>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <div fxLayoutAlign="end center" fxFlex="23%">
    <mat-card class="demo-inline-calendar-card">
      <mat-calendar [(selected)]="selected" (selectedChange)="getAppointmentByDate()">
      </mat-calendar>

    </mat-card>
  </div>
</div>