
   <table mat-table >
    <ng-container matColumnDef="">
        <th mat-header-cell *matHeaderCellDef>
            ID
        </th>
        <td mat-cell *matCellDef="let element">
            <!-- {{element.allergyid}} -->
        </td>
    </ng-container>
    <ng-container matColumnDef="allergytype">
        <th mat-header-cell *matHeaderCellDef>
            Type
        </th>
        <td mat-cell *matCellDef="let element">
            <!-- {{element.allergytype}} -->
        </td>
    </ng-container>
    <ng-container matColumnDef="allergyname">
        <th mat-header-cell *matHeaderCellDef>
          Patient Name
        </th>
        <td mat-cell *matCellDef="let element">
            <!-- {{element.allergyname}} -->
        </td>
    </ng-container>
    <ng-container matColumnDef="allergydesc">
        <th mat-header-cell *matHeaderCellDef>
          Date of registration
        </th>
        <td mat-cell *matCellDef="let element">
            <!-- {{element.allergydesc}} -->
        </td>
    </ng-container>
    <ng-container matColumnDef="allergyclinicalinfo">
        <th mat-header-cell *matHeaderCellDef>
          Status
        </th>
        <td mat-cell *matCellDef="let element">
            <!-- {{element.allergyclinicalinfo}} -->
        </td>
    </ng-container>
    <ng-container matColumnDef="allergyclinicalinfo">
        <th mat-header-cell *matHeaderCellDef>
         Edit Status
        </th>
        <td mat-cell *matCellDef="let element">
            <!-- {{element.allergyclinicalinfo}} -->
        </td>
    </ng-container>
    <!-- <tr mat-header-row *matHeaderRowDef="allergycolumns"></tr> -->
    <!-- <tr mat-row *matRowDef="let row;columns:allergycolumns"></tr> -->
</table> 
