<mat-card-content>
    <div fxLayoutAlign="center center" fxFlexFill>
        
            <form [formGroup]="forgotPassword_formgrp" (submit)="submitforgotPassword()">
                <div fxLayoutAlign="center center" fxFlexFill>
                    <h1>Forgot Password</h1>
                </div>
                
                <mat-form-field  appearance="fill" class="username">
                    <mat-label>Username Or Email</mat-label>
                    <input type="email" matInput formControlName="forgot_email" required [(ngModel)]="forgot_email" name="forgot_email" >
                    <span *ngIf="forgotPassword_formgrp.controls['forgot_email'].invalid && forgotPassword_formgrp.controls['forgot_email'].dirty" class="error">Username is required</span>
                </mat-form-field><br>
            
                
                <div fxLayoutAlign="center center" fxLayoutGap="30px" >
                    <button [disabled]="forgotPassword_formgrp.invalid" mat-raised-button color="primary">Submit  </button>
                    <button mat-raised-button color="primary" routerLink="/login">Login</button>
                </div>            
            </form>
    </div>
</mat-card-content> 