<mat-card-content>
    <div fxLayoutAlign="center center" fxFlexFill>
        
            <form [formGroup]="form" (submit)="submitforgotPassword()">
                <div fxLayoutAlign="center center" fxFlexFill>
                    <h1>Forgot Password</h1>
                </div>
                
                <mat-form-field appearance="outline">
                    <mat-label>Username</mat-label>
                    <input type="email" matInput formControlName="username" required  name="username">
                    <span *ngIf="checkTouchedAndInvalid('username')"
                        class="error">{{errormessage.USERNAME_REQUIRED}} </span>
                </mat-form-field><br>
                
                <br>
            
                
                <div fxLayoutAlign="center center" fxLayoutGap="30px" >
                    <button [disabled]="form.invalid" mat-raised-button color="primary">Submit  </button>
                    <button mat-raised-button color="light" routerLink="/">Login</button>
                </div>            
            </form>
    </div>
</mat-card-content> 