<div fxLayoutAlign="end">
    <button mat-icon-button (click)="procedureAddButtonClick()" >
        <mat-icon>add</mat-icon>
    </button>
</div>
<div fxLayoutAlign="center center">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" >
        <ng-container matColumnDef="code">
            <th mat-header-cell *matHeaderCellDef> Procedure Code &nbsp;</th>
            <td mat-cell *matCellDef="let element"> {{element.procedureCode}} </td>
        </ng-container>
        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef> Procedure Description &nbsp;</th>
            <td mat-cell *matCellDef="let element"> {{(element.procedureDescription == 'Others') ? element.procedureDetails: element.procedureDescription }} </td>
        </ng-container>
        <ng-container matColumnDef="isDepricate">
            <th mat-header-cell *matHeaderCellDef> Depricated &nbsp;</th>
            <td mat-cell *matCellDef="let element"> {{element.procedureIsDepricated}}
            </td>
        </ng-container>
        <ng-container matColumnDef="prescribedDate">
            <th mat-header-cell *matHeaderCellDef> Prescribed Date &nbsp;</th>
            <td mat-cell *matCellDef="let element"> {{element.prescribedDate}}
            </td>
        </ng-container>
        <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef>  </th>
            <td mat-cell *matCellDef="let element">
                <!-- <a href="javascript:void(0)" (click)="deleteProcedureClick(element.patientProcedureId)">{{element.deleteButton}}</a> -->
                <button mat-icon-button (click)="deleteProcedureClick(element.patientProcedureId)" [disabled]="(element.deleteButton == 'delete') ? 'false' : 'true'">
                    <mat-icon>{{element.deleteButton}}</mat-icon>
                </button>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <br>
</div>
