
    <div fxLayout="row" fxLayoutAlign="none" fxLayout.xs="column" fxLayoutGap="10px">
  
      <div  fxFlex="77%" fxFill> 
 
      <mat-accordion>
        <mat-expansion-panel *ngFor="let dataSource of dataSource"  [expanded]="">
          <mat-expansion-panel-header>
            <mat-panel-title class="title-row column color-secondary-text" fxFlex="33%" appTruncate>
            {{dataSource.subject}}
            </mat-panel-title>
            <mat-panel-description>
            {{dataSource.description}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>Appointment ID: {{dataSource.appointmentId}}</p>
          <p>Date: {{dataSource.startTime | date: 'dd/MM/yyyy'}}</p>
          <p>Time: {{dataSource.startTime | date:"shortTime"}}</p>
          <p>Physician Name: {{dataSource.patientName}}</p>
          <p>Patient Name: {{dataSource.physicianName}}</p>

          <div fxLayout="row">
            <div
              fxLayout="row"
              fxLayoutAlign="start center"
              fxFlex="50"
              fxLayoutGap="5px"
            >
            <button   mat-raised-button color="primary" *ngIf="compareDate(dataSource.startTime)" (click)="goToVisit(dataSource.appointmentId)">
              Visit Detail
            </button>
            </div>
            <div fxFlex="84"></div>
      
            <div fxLayout="row" fxFlex fxLayoutAlign="end center">
              <button mat-raised-button color="primary" *ngIf="compareDate(dataSource.startTime)" (click)="goToPatientDetails(dataSource.patientId)">
                Patient Detail
              </button>
            </div>
          </div>

        </mat-expansion-panel>
      
      </mat-accordion>
    </div>
    <div fxLayoutAlign="end center" fxFlex="23%">
      <mat-card class="demo-inline-calendar-card">
        <mat-calendar [(selected)]="selected" (selectedChange)="getAppointmentByDate()">
        </mat-calendar>
  
      </mat-card>
    </div>
  </div>


