<h2 style="text-align: center" mat-dialog-title><u>Add Medication</u></h2>
<form [formGroup]="form">
  <mat-form-field>
    <mat-label>Drug Id</mat-label>
    <input matInput type="text" formControlName="drgId" required />

    <span *ngIf="checkTouchedAndInvalid('drgId')" class="error">{{
      errorMessages.DRUG_CODE_REQUIRED
    }}</span>
  </mat-form-field>
  <br />
  <mat-form-field>
    <mat-label>Drug Name</mat-label>
    <input matInput type="text" formControlName="drgName" />
  </mat-form-field>
  <br />

  <mat-form-field>
    <mat-label>Drug Generic Name</mat-label>
    <input matInput type="text" formControlName="drgGenericName" />
  </mat-form-field>
  <br />
  <mat-form-field>
    <mat-label>Drug Brand name</mat-label>
    <input matInput type="text" formControlName="drgBrandName" />
  </mat-form-field>
  <br />
  <mat-form-field>
    <mat-label>Drug Form</mat-label>
    <input matInput type="text" formControlName="drgForm" required />

    <span *ngIf="checkTouchedAndInvalid('drgForm')" class="error">{{
      errorMessages.DRUG_FORM_REQUIRED
    }}</span>
  </mat-form-field>
  <br />
  <mat-form-field>
    <mat-label>Drug Strength</mat-label>
    <input matInput type="text" formControlName="drgStrength" />
  </mat-form-field>
</form>
<div fxLayout="row">
  <div
    fxLayout="row"
    fxLayoutAlign="start center"
    fxFlex="50"
    fxLayoutGap="5px"
  >
    <button
      mat-raised-button
      color="primary"
      (click)="submit()"
      cdkFocusInitial
      class="btn-sm"
    >
      Save
    </button>
  </div>
  <div fxFlex="84"></div>

  <div fxLayout="row" fxFlex fxLayoutAlign="end center">
    <button
      class="btn-sm"
      mat-raised-button
      color="warn"
      (click)="onCancelClick()"
    >
      Cancel
    </button>
  </div>
</div>
