.error 
{   
    color : Red; font-size: 12px; 
}


  // .mat-card {
  //   max-width: 80%;
  //   margin: 1em auto;
  //   text-align: center;
  //   height: 450px;
  //   grid-template-columns: auto auto;
  //   grid-gap: 10px;
  // }

  .full-width {
    width: 80%;
  }

  .img-login
  {
    width: 80%;
    height: 80%;
  }

  .username 
  {
    width: 100%;
  }

  .password 
  {
    width: 100%;
  }