<mat-card-content>
    <div fxLayoutAlign="center center" fxFlexFill>
        
            <form [formGroup]="form" (submit)="submitchangePassword()">
                <div fxLayoutAlign="center center" fxFlexFill>
                    <h1>Change Password</h1>
                </div>
                
                <mat-form-field  appearance="fill" class="username">
                    <mat-label>Username Or Email</mat-label>
                    <input type="email" matInput formControlName="change_email" required  name="change_email" >
                    <span *ngIf="checkTouchedAndInvalid('change_email')" class="error">Username is required</span>
                </mat-form-field><br>
                    <mat-form-field appearance="fill">
                      <mat-label>Enter password</mat-label>
                      <input matInput  formControlName="password_change_pwd" required type="password"> 
                      <span *ngIf="checkTouchedAndInvalid('password_change_pwd')" class="error">password should be 1 Uppercase 1 Lowercase and one numeric value</span>
                    </mat-form-field>    <br>                      
                 
                    <mat-form-field appearance="fill">
                      <mat-label>Confirm password</mat-label>
                        <input matInput formControlName="confirmPassword_change_pwd" required type="password" ng-keypress="checkpwd()">
                        <span *ngIf="checkTouchedAndInvalid('confirmPassword_change_pwd')||flag_pwd==false" class="error">Password is not matching</span>
                    </mat-form-field>
            
                
                <div fxLayoutAlign="center center" fxLayoutGap="30px" >
                    <button [disabled]="form.invalid" mat-raised-button color="primary">Submit  </button>
                    <button mat-raised-button color="primary" routerLink="/login">Login</button>
                </div>            
            </form>
    </div>
</mat-card-content>  