<mat-card-content>
    <div fxLayoutAlign="center center" fxFlexFill>
        
            <form [formGroup]="form" (submit)="submitchangePassword()">
                <div fxLayoutAlign="center center" fxFlexFill>
                    <h1>Change Password</h1>
                </div>
                
                <mat-form-field appearance="outline"class="username">
                    <mat-label>Username Or Email</mat-label>
                    <input type="email" matInput formControlName="username" required >
                    <span *ngIf="checkTouchedAndInvalid('username')"
                    class="error">{{errormessage.USERNAME_REQUIRED}} </span> 
                </mat-form-field><br>

                <mat-form-field appearance="outline">
                    <mat-label>Enter Old Password</mat-label>
                    <input matInput  formControlName="oldpassword" required type="password"> 
                    <span *ngIf="checkTouchedAndInvalid('oldpassword')"
                    class="error">{{errormessage.PASSWORD_REQUIRED}} </span>
                </mat-form-field> <br>  

                <mat-form-field appearance="outline">
                    <mat-label>Enter New Password</mat-label>
                    <input matInput  formControlName="password" required type="password"> 
                    <span *ngIf="checkTouchedAndInvalid('password')"
                    class="error">{{errormessage.PASSWORD_FORMAT}} </span>
                </mat-form-field> <br>                      
                 
                    <mat-form-field appearance="outline">
                      <mat-label>Confirm Password</mat-label>
                        <input matInput formControlName="confirmpassword" required type="password" (change)="checkpwd()">
                        <span *ngIf="checkTouchedAndInvalid('confirmpassword')||flag_pwd==false" class="error">
                            {{errormessage.PASSWORD_MATCH}} </span>
                    </mat-form-field>
            
                
                <div fxLayoutAlign="center center" fxLayoutGap="30px" >
                    <button [disabled]="form.invalid" mat-raised-button color="primary">Submit  </button>
                    <button mat-raised-button color="primary" routerLink="/login">Login</button>
                </div>            
            </form>
    </div>
</mat-card-content>  