 <mat-card-content>
    <div fxLayoutAlign="center center" fxFlexFill>
        <form [formGroup]="form" (submit)="submitregistrationForm()">
            <div fxLayoutAlign="center center" fxFlexFill>
                <h1>Employee Registration</h1>
            </div>
            <div fxLayout ="row" fxLayoutGap="30px" fxLayoutAlign="center center" fxLayout.xs="column">
            <mat-form-field appearance="outline" >
                <mat-label>Title</mat-label>
                <mat-select formControlName="title">
                  <mat-option value="Mr.">Mr.</mat-option>
                  <mat-option value="Ms.">Ms.</mat-option>
                  <mat-option value="Mrs.">Mrs.</mat-option>
                  <mat-option value="Dr.">Dr.</mat-option>
                </mat-select>
              </mat-form-field>
             
              <mat-form-field appearance="outline">
                <mat-label>First Name</mat-label>
                <input type="text" matInput formControlName="firstname" required >
                <span *ngIf="checkTouchedAndInvalid('firstname')"
                    class="error">{{errormessage.FIRSTNAME_REQUIRED}} </span>
            </mat-form-field><br>
             
              <mat-form-field appearance="outline">
                <mat-label>Last Name</mat-label>
                <input type="text" matInput formControlName="lastname" required >
                <span *ngIf="checkTouchedAndInvalid('lastname')"
                    class="error">{{errormessage.LASTNAME_REQUIRED}} </span>
              </mat-form-field>
            </div>
              <br>
              <div fxLayout ="row" fxLayoutGap="30px" fxLayoutAlign="center center" fxLayout.xs="column">
              <mat-form-field appearance="outline" class="emailid">
                <mat-label>EmailId</mat-label>
                <input type="email" matInput formControlName="emailid" required >
                <span *ngIf="checkTouchedAndInvalid('emailid')"
                    class="error">{{errormessage.EMAILID_REQUIRED}} </span>
            </mat-form-field><br> 

           
            <mat-form-field appearance="outline" class="dob" > 
                <mat-label>DOB:</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="dob" [max]="maxDate">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
        <br>
        <div fxLayout ="row" fxLayoutGap="30px" fxLayoutAlign="center center" fxLayout.xs="column">
             <mat-form-field appearance="outline" >
                <mat-label>Role</mat-label>
                <mat-select formControlName="title">
                  <mat-option value="admin">Admin</mat-option>
                  <mat-option value="doctor">Doctor</mat-option>
                  <mat-option value="nurse">Nurse</mat-option>
                </mat-select>
              </mat-form-field>                                 
              
            <mat-form-field appearance="outline" >
                <mat-label>Emplpoyee Id</mat-label>
                <input matInput type="number" formControlName="contactnumber" required>
                <span *ngIf="checkTouchedAndInvalid('contactnumber')"
                class="error">{{errormessage.EmployeeId_REQUIRED}} </span>            
              </mat-form-field>
            </div>
                                 
           
              <br>
              <div fxLayout ="row" fxLayoutGap="10px" fxLayoutAlign="center center">
                <button [disabled]="form.invalid==false" mat-raised-button color='primary'>Submit</button>
              
                
              </div>
        </form>
    </div>
</mat-card-content> 
