<h2 style="text-align: center;" mat-dialog-title> <u>Add Procedure</u></h2>
<div mat-dialog-content>
  <form [formGroup]="form" (ngSubmit)="submit()">

    <div fxLayoutGap="10px">
        <mat-form-field  >
            <mat-label>Procedure Code</mat-label>
            <input matInput type = "text"  formControlName="code" [matAutocomplete]="getCode" on-focusout="getProcDescFromInp()" required>
            <mat-autocomplete name="pcode" #getCode="matAutocomplete">
                <mat-option *ngFor="let value of procCode | searchFilter : getSearchValueForCode()" value="{{value}}">{{value}}</mat-option>
            </mat-autocomplete>
            <span *ngIf="checkTouchedAndInvalid('code')" class="error">{{errorMessages.PROCEDURE_CODE_REQUIRED}}</span>
        </mat-form-field>
        <br>
        <mat-form-field  >
            <mat-label>Procedure Description</mat-label>
            <input matInput type="text" formControlName="description" [matAutocomplete]="getDesc" on-focusout="getProcCodeFromInp()">
            <mat-autocomplete name="pdesc" #getDesc="matAutocomplete">
                <mat-option *ngFor="let value of procDesc | searchFilter : getSearchValueForDescription()" value="{{value}}" >{{value}}</mat-option>
                <!-- <mat-option value="other">Other</mat-option> -->
            </mat-autocomplete>
        </mat-form-field>
        <br>
        <mat-form-field   *ngIf = "!isHiddenDetails">
            <mat-label>Procedure Details</mat-label>
            <textarea rows="3" matInput type="text" formControlName="details" required></textarea>
            <span *ngIf="checkTouchedAndInvalid('details')" class="error">{{errorMessages.PROCEDURE_DETAILS_REQUIRED}}</span>
        </mat-form-field>
        <br>
            <!-- <div>
            <mat-label>Procedure Depricated &nbsp;</mat-label><br>
            <mat-radio-group  formControlName="isDepricated" name="pdepri" >
                &nbsp;&nbsp;&nbsp;<mat-radio-button value="0">Yes &nbsp;</mat-radio-button> 
                <mat-radio-button value="1">No </mat-radio-button>
            </mat-radio-group>
              <br><br>
            </div> -->
        </div>
    </form>
    <div fxLayout="row">
        <div
          fxLayout="row"
          fxLayoutAlign="start center"
          fxFlex="50"
          fxLayoutGap="5px"
        >
          <button
            mat-raised-button
            color="primary"
            [mat-dialog-close]="data"
            (click)="submit()"
            cdkFocusInitial
            class="btn-sm"
          >
            Save
          </button>
        </div>
        <div fxFlex="84"></div>
  
        <div fxLayout="row" fxFlex fxLayoutAlign="end center">
          <button class="btn-sm" mat-raised-button color="warn" (click)="onCancelClick()">
            Cancel
          </button>
        </div>
      </div>
</div>
