<h1 mat-dialog-title>Procedure Details</h1>
<div mat-dialog-content>
  <form [formGroup]="form" (ngSubmit)="submit()">

    <div fxLayoutGap="10px">
        <mat-form-field  >
            <mat-label>Procedure Code</mat-label>
            <input matInput type = "text"  formControlName="code" [matAutocomplete]="getCode" on-focusout="getProcDescFromInp()">
            <mat-autocomplete name="pcode" #getCode="matAutocomplete">
                <mat-option *ngFor="let value of procCode | searchFilter : getSearchValueForCode()" value="{{value}}">{{value}}</mat-option>
            </mat-autocomplete>
        </mat-form-field>
        <br>
        <mat-form-field  >
            <mat-label>Procedure Description</mat-label>
            <input matInput type="text" formControlName="description" [matAutocomplete]="getDesc" on-focusout="getProcCodeFromInp()">
            <mat-autocomplete name="pdesc" #getDesc="matAutocomplete">
                <mat-option *ngFor="let value of procDesc | searchFilter : getSearchValueForDescription()" value="{{value}}" >{{value}}</mat-option>
                <!-- <mat-option value="other">Other</mat-option> -->
            </mat-autocomplete>
        </mat-form-field>
        <br>
            <div>
            <mat-label>Procedure Depricated &nbsp;</mat-label><br>
            <mat-radio-group  formControlName="isDepricated" name="pdepri" >
                &nbsp;&nbsp;&nbsp;<mat-radio-button value="yes">Yes &nbsp;</mat-radio-button> 
                <mat-radio-button value="no">No </mat-radio-button>
            </mat-radio-group>
              <br><br>
            </div>
        </div>
    </form>
<div mat-dialog-actions style="margin-bottom: 0;">
  <button mat-button (click)="onCancelClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data" (click)="submit()" cdkFocusInitial>Ok</button>
</div>
