<mat-nav-list >
    <div class="profile-card">
      <!-- <div class="header">
        <h3>PMS</h3>
        <h5>pms@outlook.com</h5>
      </div> -->
      <img src="https://w7.pngwing.com/pngs/178/595/png-transparent-user-profile-computer-icons-login-user-avatars-thumbnail.png" />
     <p style="color: white;"> {{firstName}} {{lastName}}</p> 
     

    </div>
    <hr>
   <!-- // <mat-divider></mat-divider> -->
  
    
 
    <a *ngFor="let menu of menus" mat-list-item routerLinkActive="list-item-active" routerLink="{{menu['menuLink']}}"
      style="color: white;">{{menu['menuName']}}</a
    >
    <!-- <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts"
      >Posts</a
    >
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/article"
      >Article</a
    > -->
    <!-- <mat-divider></mat-divider>
    <h2 matSubheader>Tools</h2>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/"
      ><mat-icon>import_contacts</mat-icon>Contacts
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/"
    ><mat-icon>contact_phone</mat-icon>Leads
  </a> -->
  </mat-nav-list>
  