.content
{
    overflow: auto;
    flex: 1;
    display: flex;
}
.box
{
    display: flex;
    min-height:0%;
}

.tabsmargin
{
    margin-top: 1.5%;
}

.radiooverflow
{
    overflow: hidden;
}

.dob
{
    width: 23%;
}
    

@media only screen and (max-width: 600px) {
    .dob
    {
      width: 37%;
    }
}

.error 
{   
    color : Red; font-size: 12px; 
}

table{
    width: 100%;
    overflow: auto;
}
