.content
{
    overflow: auto;
    flex: 1;
    display: flex;
}
.box
{
    display: flex;
    min-height:0%;
}

.tabsmargin
{
    margin-top: 1.5%;
}

.radiooverflow
{
    overflow: hidden;
    width: 820px;
}

.dob
{
    width: 23%;
}
    

@media only screen and (max-width: 600px) {
    .dob
    {
      width: 60%;
    }
}

.error 
{   
    color : Red; font-size: 12px; 
}

table{
    width: 100%;
    overflow: auto;
}

.title{
    width: 180px;
}
.my-select-panel-class {
    width:100px;
    max-width:10px;
    background-color: red;
    font-size: 10px;
}
mat-form-field{
   width: 180px;

}
.dob{
    width: 180px;
}
.email{
    width: 280px;
}
.language{
    width: 270px;
}
.address{
    width: 560px;
}
mat-label{
    font-size: 17px;
}
.contactnumber{
    width: 270px;
}
.homeaddress{
    width: 370px;
}