<!-- <div fxLayoutAlign="end">
    <button mat-icon-button (click)="editButtonClick()">
        <mat-icon>create</mat-icon>
    </button>
    <button mat-icon-button (click)="saveButtonClick()" [disabled]="editable">
        <mat-icon>save</mat-icon>
    </button>
</div> -->
<div>
  <nav mat-tab-nav-bar mat-align-tabs="center">
    <span *ngFor="let link of links">
      <a
        mat-tab-link
        *ngIf="
          ((link.label == 'Vital Signs' || link.label == 'Patient Details') &&
            role == '4') ||
          role == '3' "
        [routerLink]="link.route"
        (click)="activeLink = link.label"
        [active]="activeLink == link.label"
      >
        {{ link.label }}</a
      >
    </span>
  </nav>
  <router-outlet></router-outlet>
</div>
